@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

button {
  border: none;
  outline: none;
}
a.btn {
  text-decoration: none;
}

.btn {
  appearance: none;
  background-color: v.$primary-color-dark-alpha;
  color: white;
  padding: 0.5em 1em;
  border-radius: 0.3em;
  cursor: pointer;
  width: max-content;
  transition: all 250ms ease-in-out;

  &:hover {
    background-color: v.$primary-color-light-alpha;
    transform: scale(1.05);
  }

  &.small {
    padding: 0.3em 0.8em;
  }

  &.large {
    padding: 0.7em 1.2em;
  }
  &.xl {
    font-size: larger;
    padding: 1.2em 2em;
  }
}

.btn-outline{
  @extend .btn;
  background-color: transparent;
  border: 1px solid v.$primary-color-dark-alpha;
  color: v.$primary-color-dark-alpha;

  &:hover {
    background-color: v.$primary-color-dark-alpha;
    color: white;
  }
}


.btn-secondary {
  @extend .btn;
  background-color: v.$secondary-color-dark-alpha;

  &:hover {
    background-color: v.$secondary-color-light-alpha;
  }
}

.btn-secondary-outline {
  @extend .btn;
  background-color: transparent;
  border: 1px solid v.$secondary-color-dark-alpha;
  color: v.$secondary-color-dark-alpha;

  &:hover {
    background-color: v.$secondary-color-dark-alpha;
    color: white;
  }
}

.btn-danger {
  @extend .btn;
  background-color: v.$danger-color-dark;

  &:hover {
    background-color: v.$danger-color-light;
  }
}

.btn-danger-outline {
  @extend .btn;
  background-color: transparent;
  border: 1px solid v.$danger-color-dark;
  color: v.$danger-color-dark;

  &:hover {
    background-color: v.$danger-color-dark;
    color: white;
  }
}

.btn-success {
  @extend .btn;
  background-color: v.$success-color-dark;

  &:hover {
    background-color: v.$success-color-light;
  }
}


.btn-success-outline {
  @extend .btn;
  background-color: transparent;
  border: 1px solid v.$success-color-dark;
  color: v.$success-color-dark;

  &:hover {
    background-color: v.$success-color-dark;
    color: white;
  }
}

.btn-warning {
  @extend .btn;
  background-color: v.$warning-color-dark;

  &:hover {
    background-color: v.$warning-color-light;
  }
}

.btn-warning-outline {
  @extend .btn;
  background-color: transparent;
  border: 1px solid v.$warning-color-dark;
  color: v.$warning-color-dark;

  &:hover {
    background-color: v.$warning-color-dark;
    color: white;
  }
}