@use "../abstracts/variables" as v;
.icon {
  width: 1.5em;
  height: 1.5em;

  &.add {
    width: 1.5em;
    height: 1.5em;
    transition: all 0.25s ease-in-out;
    &:hover {
      color: v.$primary-color;
    }
  }
}
