@use '../../../assets/sass/abstracts/variables' as v; 
.outletReservation{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
    height: 100%;
    width: 100%;
   // background-color: v.$background-medium;
    
}