@use "../../assets/sass/abstracts/variables" as v;

.Booking_create {
  min-width: 300px;
  width: 60VW;
  max-width: 600px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.8em;

  &_body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
     
    .timestamp {
      display: flex;
      flex-direction: column;
      gap: 0.5em;
    }

    .group-form{
        display: flex;
        gap: 0.8em;
        
    }

    label {
      display: flex;
      gap: 0.5em;
      align-items: center;
      justify-content: flex-start;
    }
  }
}
