@use '../../assets/sass/abstracts/variables' as v;

.footer{
    box-sizing: border-box;
    display : flex;
    justify-content: space-around;
    align-items: center;
    background-color: v.$background-dark;
    min-height: 5vh;

    .link{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5em;
    }
}