@use "../../assets/sass/abstracts/variables" as v;

.header {
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding: 0.5em 2em;
  height: 5vh;
  background-color: v.$background-dark;

  &_logo {
    display: flex;
    align-items: center;
    gap: 0.5em;
    img {
      width: 2em;
      height: 2em;
    }
    h1 {
      font-size: 1.5em;
      color: v.$text-color;
    }
  }
  &_nav {
    display: flex;
    align-items: center;
    gap: 1em;
    .nav_link {
      text-decoration: none;
      color: v.$text-color;
      transition: all 0.25s ease-in-out;

      &:hover {
        color: v.$primary-color;
      }

      &.active {
        color: v.$primary-color;
        border-bottom: 2px solid v.$primary-color;
      }
    }
  }
}
