@use "../../assets/sass/abstracts/variables" as v;


.slidebar {
  position : relative;
 animation: isOpened 0.3s linear both;
}



@keyframes isOpened {
  0% {
    transform: translateX(-65%);
  }
  100% {
     transform: translateX(0%);
  }
  
}